/*******************************************************
Landing Page Styles
********************************************************/
@font-face {
  font-family: 'logoFont';
  src: url('../font/Lycanthrope.ttf'); 
}

body {
  background-color: #1F3D00;
}

.night-sky {
	position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background: #000 url('../img/stars.png') repeat top center;
  z-index: 0;
}

.night-sky-twinkle {
	position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
	background:transparent url('../img/twinkling.png') repeat top center;
  z-index:1;

 -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.logo {
	font-family: logoFont;
	color: white;
	font-size: 100px;
	margin-left: 20px;
	margin-top: 0;
}

.grass-hill {
	position:absolute;
  top: 30%;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background-image: radial-gradient(ellipse farthest-corner at 650px 50px, #5C8533 15%, #336600 30%, #1F3D00 60%);
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	z-index: 2;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


/****************************************
Phone layout
*****************************************/
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
        max-width: 300px;
        text-align: center;
    }

    .logo {
    	font-size: 10rem;
    }
}
