@font-face {
  font-family: 'logoFont';
  src: url('../../font/Lycanthrope.ttf'); 
}

@font-face {
  font-family: 'navbarFont';
  src: url('../../font/OctoberCrow.ttf'); 
}

.menu-logo {
  font-family: logoFont;
  font-size: 5rem;
}

ul {
  font-family: navbarFont;
  font-size: 2rem;
}